/*-------- GLOBAL STYLES ---------*/
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #a1aeb7;
    background-color: #F5F5DC;
    line-height: 1.5;
    
  }
  
 .logo {
    max-width: 150px;
   
}



/* ============ HEADER STYLING =============*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2rem; 
  background: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExazl5OTV2cjBoeHV3MW1zeXM5djIwa2xzYXhoZnA3NGJvb3NmNzkydCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/nJfScKSWBENnTph4Ki/giphy.gif') no-repeat center/cover; /* Add your GIF */
  color: white; 
  
  margin: auto;
}

header a img {
  max-width: 150px; 
 
}

header nav ul {
  display: none;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
}

header li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.6rem; /* Adjust font size */

}

header li :hover{

}

.show-items{
  display: flex;
  flex-direction: column;

}
/*Sections Styling */
section{
  width: 334px;
  margin: auto;
}
/*footer Styling */

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  gap: 20px;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 10px;
}

footer nav li {
  background-color: #FF6347;
  border-radius: 5px;
  padding: 10px 50px;
  color: black;
  transition: background-color 0.3s ease;
}

footer nav li:hover {
  background-color: #e5533d;
}

.footer-container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer-container a:hover {
  text-decoration: underline;
}

footer img {
  width: 100px;
  border-radius: 50%;
}

.divider {
  margin-top: 20px;
  text-align: center;
}

.divider h4 {
  font-size: 1rem;
  color: #6c757d;
}
 .youtube-embed iframe{
  width:344px;
 height: 593px;
  
} 

/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  header{
    width: 1130px;
    margin: auto;
  }
  section{
    width: 1130px;
    margin: auto;
  }
  footer{
    width: 1130px;
    margin: auto;
  }
  .youtube-embed iframe{/* trying to set the best aspect ratio for exploring in the internet and to make it visually appealing to watch the embedded video by making it 16:9 */
    width: 1130px;
    height: 635px; 
  }
}
